* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.galeria {
  margin: auto;
  width: 80%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;
}

.imagens img {
  width: 100%;
  max-height: 200px;
  cursor: pointer;
}

.imagens {
  position: relative;
}

.imagens img {
  display: block;
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  object-position: center;
}

.container {
  position: absolute;
}

.modal {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
}
.modal img {
  max-width: 600px;
}

.close {
  position: absolute;
  top: 20%;
  left: 20%;
  font-size: 3rem;
  background-color: black;
  color: red;
  width: 60px;
  text-align: center;
  border-radius: 50%;
  cursor: pointer;
}

.modalActive {
  visibility: visible;
}
